body {
margin: 0;
  text-align: center;
  font-family: 'Playfair Display', 'Nunito', serif;
  color: #40514E;

}

h1 {
font-size: 5rem;
color: #176f96;
position: relative;
  margin: 0 auto 0 auto;
  padding-top: 60px;
  font-family: 'Liu Jian Mao Cao','Caveat', cursive;
  
  line-height: 2;
 
}
h2 {
  color: #176f96;
  position: relative;
  font-size: 2rem;
  font-weight: normal;
  z-index: 100;
}

h3 {
  color: #3489ad;
  
}
h4 {
  margin: 0;
  color: #3489ad;
}
.footer-link {
  color: #11999E;
}

.lang {
  display: flex;
  right: 0;
  align-items: center;
  padding: 15px 20px;
  position: absolute;
  z-index: 100;
}

.flag-img {
  width: 40px;
}

.cloud-top {
  width: 200px;
  height: auto;
  position: absolute;
  left: 20%;
  top: 15%;
}
.cloud-bottom {
  width: 150px;
  height: auto;
  position: absolute;
  right: 15%;
  top: 10%;
}

.mount {
  width: 100%;
  height: auto;
  margin: 0;
  margin-top: -100px;
  margin-bottom: -6px;
  margin-left: 0px;
  padding: 0;
  z-index: -1;
}

.top-container {
  background-color: #e9c0a7;
  display: block;
}
.middle-section {
  margin-top: 30px;
  margin-bottom: 50px;
}
.profile {
  margin-bottom: 70px;
}

.profileimg {
  width: 200px;
  height: auto;
  border-radius: 50%;
}
.computer {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.English {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;

}

hr {
  border-style: none;
border-top-style: dotted;
width: 5%;
border-color: grey;
border-width: 7px;
}
.contact-me{
  margin-top: 100px;
  margin-bottom: 150px;
}
.foot{
  width:4%;
}

.bottom-section {
  background-color: #fbd1b7;
  padding: 20px 20px 0 20px;
  
  

}
.footer-text {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  padding-bottom: 20px;
}

a,
a:active
{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #1ea0d8;
  text-decoration: none;
  
}

a:hover {
  color: #1980ac;
  
}

.rights {
  padding: 0;
  margin: 0;
}

.btn {
  background-color: #1ea0d8;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-family: 'Playfair Display';
  transition: all .3s;
  color: black;
  color: white;
}

.btn2 {
  
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
  padding: .8rem 3rem;
  border-radius: 20px;
}

.btn:hover {
  background-color: #1980ac;
  color: white;
}

.marging-btm {
  margin-bottom: 50px;
}

.examples {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 150px;
  margin-top: 120px;
}
.example {
  display: flex;
  flex-direction: column;
}
.example-img {
  width: 400px;
  border-radius: 10px;
  border: solid 1px;
  margin-top: 30px;
  margin-bottom: 30px;
  transition: all .4s;
  
}

.example-img:hover {
  transform: translateY(-20px);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

@media only screen and (max-width: 800px) {
  .cloud-top {
    width: 100px;
    height: auto;
    position: absolute;
    left: 10%;
    top: 8%;
  }

  .cloud-bottom {
    width: 100px;
    height: auto;
    position: absolute;
    right: 8%;
    top: 10%;
  }

  .skill-row {
    width: 85%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
  
  }
}
